    <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('social.index')}}">Fakebook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="{{url_for('social.index')}}">Home</a>
            <a class="nav-link" href="{{url_for('main.students')}}">Students</a>
            <a class="nav-link" href="{{url_for('main.ergast')}}">Ergast</a>
            <a class="nav-link" href="{{url_for('social.show_users')}}">Discover</a>
            {% if current_user.is_anonymous %}
                <a class="nav-link" href="{{url_for('auth.login')}}">Login</a>
                <a class="nav-link" href="{{url_for('auth.register')}}">Register</a>
            {% endif %}
        </div>

        {% if current_user.is_authenticated %}
        <ul class="navbar-nav ms-auto align-items-center">
            <a href="{{url_for('social.my_posts')}}">
                <img src="{{current_user.get_icon_url()}}" style="height:50px;">
            </a>
            <li class="nav-item">
                <div class="row">
                     <div class="col-12">
                        <a href="{{url_for('auth.edit_profile')}}">
                            <i class="bi bi-gear-fill"></i>
                        </a>
                      </div>
                      <div class="col-12">
                         <a href="{{url_for('auth.logout')}}">
                             <i class="bi bi-box-arrow-right"></i>
                         </a>
                      </div>
                </div>
            </li>
        </ul>
        {% endif %}
        
        

        </div>
    </div>
    </nav>
            
            
            
     