{% extends 'base.html.j2' %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
    <form method="POST" action="{{url_for('social.edit_post', id=post.id)}}">
        <div class="mb-3">
            <textarea 
                class="form-control" 
                name= "body"
                style="height: 100px;">{{post.body}}</textarea>
            <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill"></i> &nbsp;Submit Edit</button>
        </div>
    </form>

{% endblock %}
