{% extends 'base.html.j2' %}

{% block title %}
    Ergast
{% endblock %}

{% block content %}
<h1>Ergast Standings</h1>
<form action="/ergast" method="POST">
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <input type="text" name = "year" class="form-control" id="year">
  </div>
  <div class="mb-3">
    <label for="round" class="form-label">Round</label>
    <input type="number" name = "round" class="form-control" id="round">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <br><small style="color:red;">{{error}}</small>
</form>
{% if racers %}
    <table class="table table-striped table-hover table-dark mt-5">
    <thead>
        <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Position</th>
        <th scope="col">Wins</th>
        <th scope="col">DOB</th>
        <th scope="col">Nationality</th>
        <th scope="col">Constructor</th>
        </tr>
    </thead>
    <tbody>
    {% for racer in racers %}
        <tr>
        <th scope="row">{{racer['first_name']}}</th>
        <td>{{racer.last_name}}</td>
        <td>{{racer.position}}</td>
        <td>{{racer.wins}}</td>
        <td>{{racer.DOB}}</td>
        <td>{{racer.nationality}}</td>
        <td>{{racer.constructor}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

{% endblock %}