{% extends 'base.html.j2' %}

{% block title %}
    Homepage
{% endblock %}

{% block content %}
    <h1>CAE-95 is a good looking group!</h1>
    <h5>They are about to crush Flask week</h5>
    They are the greatest! ... for now...
{% endblock %}
