{% extends 'base.html.j2'%}
{% block title %}
    Register
{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form action="{{url_for('register')}}" method="POST">
    {{form.hidden_tag()}}
    <div class="mb-3">
        {{form.first_name.label(class="form-label")}}
        {{form.first_name(class="form-control")}}
        {% for error in form.first_name.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.last_name.label(class="form-label")}}
        {{form.last_name(class="form-control")}}
        {% for error in form.last_name.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>

    <div class="mb-3">
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}
        {% for error in form.email.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
    <div class="mb-3">
        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}
        {% for error in form.password.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>
        <div class="mb-3">
        {{form.confirm_password.label(class="form-label")}}
        {{form.confirm_password(class="form-control")}}
        {% for error in form.confirm_password.errors%}
            <small style="color:red">{{error}}</small>
        {% endfor %}
    </div>

    <div>
        {{form.submit(class="btn btn-primary")}}<br>
         <small style="color:red">{{error}}</small>
    </div>
    </form>
{% endblock %}