{% extends 'base.html.j2'%}
{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/students.css')}}">
{% endblock %}

{% block title %}
Students
{% endblock %}

{% block content %}

    <h1>My Students</h1>
    <ul>
        {% for student in students %}
            <li>{{student}}</li>
        {% endfor %}

    </ul>
{% endblock %}